<div class="container__auth">
    <div class="content__auth">
        <div class="left">
            <div class="logo">
                <img src="../../../../assets/img/quill-pen.png" alt="">
                <h1 class="title">Ago Marrar</h1>
            </div>
            <span class="desc">Faça o seu Login <br> Na Plataforma</span>
        </div>
        <div class="right">
            <div class="search">
                <div class="search-container">
                    <div class="input-container">
                        <i class='bx bxs-envelope'></i>
                        <input type="text" placeholder="E-Mail">
                    </div>
                </div>
            </div>
            <div class="search">
                <div class="search-container">
                    <div class="input-container">
                        <i class='bx bxs-lock-alt' ></i>
                        <input type="password" placeholder="Senha">
                    </div>
                </div>
            </div>
            <a href="/" class="ri__link">Esquece minha Senha</a>
            <div class="container_btn">
                Entrar
            </div>
            <div class="new__account">
                <span>Não Tem Conta <a href="">Regista-se</a></span>
            </div>
            <div class="google__container">
                <span>Entrar Com</span>
                <div class="container_btn gooogle__btn">
                    <img src="../../../../assets/img/google.svg" alt="">
                    Google
                </div>
            </div>
        </div>
    </div>
</div>
